@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
    url(./fonts/Raleway/Raleway-Regular.ttf) format('truetype');
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
